{% extends 'main.html' %}

{% block todo-add %}

<div class="container-todo">
    <div class="header-bar">
        <h3>Add Task</h3>
        <a href="{% url 'todo-home' %}">&#8592; Back</a>
    </div>
    
    
    <div class="card-body">
        <form method='POST' action=''>
            {% csrf_token %}
            {% for field in form %}
                {{field}}
            {% endfor %}
            <input class = 'button' type='submit' value='Submit'>
        </form>
    </div>
</div>

{% endblock todo-add %}