<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>ZengoChat</title>
  </head>
  <body>
    {% include 'navbar.html' %} 

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert--{{message}}" id="alert-box">
          <p class="alert__message">{{message}}</p>
          <button class="alert__close">x</button>
      </div>
        {% endfor %}
    {% endif %}

    {% block home %} 
    
    

    {% endblock home %} 
    {% block profile %} {% endblock profile %} 
    {% block profileForm %} {% endblock profileForm %}
    {% block register %}{% endblock register %}
    {% block passwordReset %}{% endblock passwordReset %}

      <script>
        const alert = document.getElementById("alert-box");
        const closeAlert = document.querySelector(".alert__close");

        closeAlert.addEventListener("click", () => {
          alert.style.display = "none";
        });
      </script>
  </body>
</html>
