{% extends 'main.html' %}

<h3 style='color:white;'>The page cannot be found</h3>
<p>The page you are looking for might have been removed, had it's name changed, or is temorarily unavailable.</p>
<hr>
<ul>Please try the following:
<li>Make sure that the Web Site address displayed in the address bar of your browser is spelled and formatted correctly.</li>
<li>If you reached to alert them that the link is incorrectly formatted.</li>
<li>Click the <a href="{% url 'home' %} ">Back buttom to try another link.</a></li>
</ul>
<p>HTTP Error 404 - File or directory not found.</p>
<p>Internet Information Services (IIS)</p>

